//========== reuseable code =========================
@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}
@mixin transition-ease-slow {
  transition: all 0.4s ease-in-out;
}
@mixin transition-ease-fast {
  transition: all 0.2s ease-in-out;
}
// -------------------------flex center----------------------------------
@mixin flex-centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}
// -------------------------flex row----------------------------------
@mixin flex-row {
  display: flex;
  align-items: center;
}
@mixin flex-row-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// -------------------------flex culomn----------------------------------
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// -------------------------position absolute----------------------------------
@mixin position-absolute-top {
  position: absolute;
  top: 0;
  left: 0;
}
@mixin position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin position-absolute-bottom {
  position: absolute;
  top: 0;
  left: 0;
}

//========== media query mixin=========================
@mixin slim-mobile {
  @media screen and (max-width: 340px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (min-width: 341px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1100px) {
    @content;
  }
}
@mixin large-screen {
  @media screen and (min-width: 1700px) {
    @content;
  }
}
